[Unit]
Description=Distributed Service Framework (DSF) Daemon

[Service]
EnvironmentFile=/etc/dsf/dsfd.env

ExecStartPre=-/bin/mkdir -p /var/run/dsf
ExecStartPre=-/bin/chown dsf:dsf /var/run/dsf

User=dsf
ExecStart=/usr/bin/dsfd

ExecStartPost=/usr/bin/chmod 777 /tmp/dsf.sock

Restart=on-failure

[Install]
WantedBy=multi-user.target
