[Unit]
Description=Distributed Service Framework (DSF) Daemon

[Service]
EnvironmentFile=/etc/dsf/dsfd.env
ExecStart=/usr/bin/dsfd
ExecStartPost=/usr/bin/chmod 777 /tmp/dsf.sock
Restart=on-failure

[Install]
WantedBy=multi-user.target
